<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3><B>Инфо</B>Энерго</h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Статистика</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li class="active">
                    <a href="stat-1.html">Общая</a>
                </li>
                <li>
                    <a href="stat-2.html">Ошибки</a>
                </li>
                <li>
                    <a href="stat-3.html">Загрузка</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>

</nav>