<div class="w3-main" id="main">
    <div class="w3-container" style="margin-top: 40px; margin: 100px auto; text-align: center;">
        <a href="/errors.html">Просмотр ошибок в логе</a>
        <br><br>
        <a href="/handle-stat.html">Статистика обработки</a>
        <br><br>
        <a href="/forecast2.html">Прогноз завершения</a>
    </div>
</div>
