body, h1, h2, h3, h4, h5, h6{
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif !important;
}

.w3-sidebar{
    max-width: 260px !important;
    width: 260px;
}

.body {
    margin-left: 260px;
    padding: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }


.sub-items {
    margin-left: 20px;
}
