body {
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 12pt;
    background-color: #f5f5f5;
}

h1 {
    font-size: 14pt;
    font-family: Montserrat;
    font-weight: 600;
}

*:focus {
    outline: none;
}

.error-box {
    background-color: #fff;
    padding: 16px;
    font-family: Arial;
    font-size: 14pt;
    color: #800;
    border-radius: 4px;
}

.as-link {
    text-decoration: underline !important;
    cursor: pointer !important;
}

td {
    padding: 4px 8px;
}

tr.nowrap>td {
    white-space: nowrap;
}


details.main {
    margin-left: 0px;
}

details.NS_GOOD > summary > i.bi {
    background-color: #009f4d;
}

details.NS_LOST > summary > i.bi {
    background-color: #aaa;
}

details.NS_MORE > summary > i.bi {
    background-color: #ffc107;
}

details.NS_DIFF > summary > i.bi {
    background-color: #ff3300;
}

.shifted {
    margin-left: 32px;
}

details>summary {
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 14pt;
    margin: 6px 0;
    background-color: #fff;
    padding: 10px;
}

div.ise {
    margin: 16px 0;    
    max-width: 100%;
}

div.props {
    margin-bottom: 16px;
    font-size: 10pt;
    margin: 6px 0;
    padding: 10px;
}

.selected {
    font-weight: bold;
}

.xselected {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 12px;
}

.xselected>div>table.props {
    color: #07c;
    border: none 1px #eee;
}


summary>span {
    padding-left: 8px;
}

div.props {
    background-color: #fff;
}

table.props {
    border-spacing: 0;
    margin-bottom: 10px;
}

table.props td {
    border-spacing: 0;
    margin-bottom: 10px;
    white-space: nowrap;
}

div.ise>.row>.col{
    flex-grow: inherit;
}

div.ise>.row>.col>table.props {
    border-radius: 4px;
    padding: 4px;
    color: #fff;
    margin: 2px 0;
}

div.ise>.row>.col>table.FF {
    background-color: #009f4d;
}

div.ise>.row>.col>table.FP {
    background-color: #0077c8;
}

div.ise>.row>.col>table.CH {
    background-color: #a51890;
}

table.props td.prop:first-child {
    text-align: right;
    border-right: solid 1px #bbb;
    padding-right: 8px;
}

​
/* table.props > tr:nth-child(odd) {
    background: #eee
}

table.props > tr:nth-child(even) {
    background: #FFF
} */

summary.x>span:hover {
    text-decoration: underline;
}

summary>span {
    display: inline-block;
}

summary>span.num {
    min-width: 5ch;
    text-align: right;
}

summary>span.type {
    min-width: 5ch;
    text-align: center;
}

details.main>summary::-webkit-details-marker {
    display: none;
}

details.problems {
    font-family: "Open Sans Condensed";
}

details.problems>summary {
    margin: 0;
}

div.problems {
    font-family: "Open Sans Condensed";
    background-color: #fff;
    color: #e00;
}

div.problems table {
    font-family: "Open Sans Condensed";
    color: #e00;
}

.bi {
    border-radius: 4px;
    padding: 4px;
    color: #fff;
    background-color: #009f4d;
}

details.bad>summary>i.bi {
    background-color: #fe5000;
}

.id-title {
    margin-left: 2em;
    font-size: smaller;
}