body {
    font-family: 'Open Sans Condensed';
    font-size: 12pt;
}

*:focus {
    outline: none;
}

tr:nth-child(odd) {
    background: #eee
}

tr:nth-child(even) {
    background: #FFF
}

table {
    border-spacing: 0;
    border: solid 1px #ddd;
}

td {
    padding: 2px 8px;
}

td.ise-links {
    background-color: #FFF;
    padding: 4px;
    border-bottom: solid 1px #07c;
    background-color: #eff7ff;
}

td.sio-links {
    background-color: #FFF;
    padding: 4px;
    border-top: solid 1px #07c;
    background-color: #eff7ff;
}

td.ise-links span {
    text-decoration: underline;
    cursor: pointer;
}

details.main>summary {
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 14pt;
    margin: 12px 0;
}

summary {
    cursor: pointer;
    padding: 4px;
    padding-left: 7px;
}

.selected>summary {
    color: #07c;
    font-weight: bold;
}

.selected>div>table {
    color: #07c;
    border: solid 1px #07c;
}



div.error-box {
    background-color: #fff0f0;
    padding: 16px;
    font-family: Arial;
    font-size: 14pt;
    color: #800;
}

details>div {
    margin-left: 12px;
    border-left: dashed 1px #000;
    padding: 2px 0 0 12px;
    margin-bottom: 16px;
}

details.main>div {
    margin-left: 24px;
    border: solid 1px #eee;
}

summary:hover {
    color: #00f;
}

summary>span {
    display: inline-block;
}

summary>span.num {
    min-width: 5ch;
    text-align: right;
}

summary>span.type {
    min-width: 5ch;
    text-align: center;
}

details.main>summary::-webkit-details-marker {
    display: none;
}