<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    

    <link rel="stylesheet" href="css/loader-default.css">
    <link rel="stylesheet" href="css/links.css">
    <link rel="stylesheet" href="css/modal.css">
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Связи ИСЭ-СИО</title>
</head>

<body style="padding: 0 24px;">

    <div id="app">

        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div style="font-size: 28px;">
                    <span>Транзакции в логе</span>
                    <span id="btn-close-tran" class="close">&times;</span>
                </div>
                <div class="scrolled">
                    <table>
                        <tr v-for="(row) in modal" class="prop">
                            <td>{{row.LABEL}}</td>
                            <td><a v-bind:href="'/onelog.html?id=' + row.TRAN_ID"
                                    v-bind:target="row.TRAN_ID">{{row.DT.substr(0, 16).replace('T', ' ')}}</a></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <h1>{{page_id}}</h1>
        <div id="loader" v-bind:class="(waiting)?'is-active':''" class="loader loader-default"></div>
        <div class="error-box" v-show="error" style="display: none;">{{error}}</div>
        <section>
            <tree :nodes="nodes"></tree>
        </section>
    </div>

    <script>
        const EVENT_SHOW_ISE_INFO = 'show-ise-info';
        const EVENT_EXPAND_NODE = 'expand-node';
        const EVENT_FIND_TRASACTS = 'find-transacts';

        Vue.component('tab', {
            template: `
            <table class="props">
                <tr v-for="(val, name, index) in obj.visible" class="prop">
                    <td>{{name}}</td>
                    <td>{{val}}</td>
                </tr>
            </table>
            `,
            props: ['obj'],
            methods: {
                findTransacts: async function (e, val) {
                    this.$root.$emit(EVENT_FIND_TRASACTS, e.target, val);
                },
            }
        });

        Vue.component('tree', {

            template: `
<div>
    <details v-for="(item, index) in nodes" :key="item.id" :open="item.selected ? true : false" 
        v-bind:class="{'bad': item.audit.length > 0}" >
        <summary v-bind:class="{'selected': item.equals}" v-on:click="loadChildren($event, item)"><i v-bind:class="'bi bi-' + item.icon"></i><span>{{item.title}}</span></summary>
        <div>
            <div class="props">
                <tab :obj="item"></tab>

                <a v-bind:href="'#ise-' + item.id" class="btn btn-outline-primary btn-sm" 
                    data-toggle="collapse" role="button" aria-expanded="false" 
                    v-bind:aria-controls="'ise-' + item.id"
                    v-on:click="showIseInfo($event, item)">Информация из ИСЭ</a>
                <a v-for="(val, name) in item.refs" v-bind:href="val" class="btn btn-outline-primary btn-sm" target="_blank" v-on:click="openVolumes($event, val);">{{name}}</a>                
                <div class="ise collapse" v-bind:id="'ise-' + item.id">
                    <hr color="#ccc" size="1"/>
                    <tab v-for="(item, index) in item.ise_nodes" :key="item.id" :obj="item" v-bind:class="item.visible.tag"></tab>
                </div>
            </div>

            <details v-show="item.audit.length" class="problems">
                <summary>Проблемы</summary>
                <div class="problems">
                    <table>
                        <tr v-for="(a, i) in item.audit">
                            <td>{{a.IDX}}</td>
                            <td>{{a.VAL}}</td>
                            <td>{{a.VAL2}}</td>
                        </tr>
                    </table>
                </div>
            </details>
        </div>
        <div class="shifted">
            <tree :nodes="item.nodes"></tree>
        </div>
    </details>
</div>
`,
            props: ['nodes'],
            methods: {
                setDetailsClasses: function (isSelected, hasError) {
                    return {
                        selected: isSelected,
                        bad: hasError
                    }
                },
                showIseInfo: async function (e, item) {
                    e.preventDefault();
                    this.$root.$emit(EVENT_SHOW_ISE_INFO, item);
                    //return false;
                },
                loadChildren: async function (e, item) {
                    this.$root.$emit(EVENT_EXPAND_NODE, e.target, item);
                },
                openVolumes: function(e, url){
                    e.preventDefault();
                    window.open(url, '_blank', 'height=600,width=1500,menubar=no,location=yes,status=no'); 
                    return false;                    
                }
            }
        });


        var app = new Vue({
            el: '#app',
            data: {
                waiting: false,
                modal: [],
                error: null,
                page_id: '',
                nodes: [],
            },
            created() {
                console.log('Here!');

                try {
                    const pair = location.href.split('?')[1].split('&')[0].split('=');
                    const key_name = pair[0].toLowerCase();
                    const key = pair[1];
                    // document.title = this.id;
                    if (key_name === 'sio') {
                        this.loadInfo(key);
                    } else {
                        throw new Error('Ошибка в URL: не указан параметр SIO или ISE')
                    }
                } catch (ex) {
                    this.error = ex.message;
                }
            },
            mounted: function () {
                this.$root.$on(EVENT_SHOW_ISE_INFO, this.onShowIseInfo);
                this.$root.$on(EVENT_EXPAND_NODE, this.loadChildren);
                this.$root.$on(EVENT_FIND_TRASACTS, this.findTransacts);
            },
            methods: {
                showModal: function (doShow) {
                    if (doShow) {
                        document.querySelector('#myModal').style.display = 'block';
                    } else {
                        document.querySelector('#myModal').style.display = 'none';
                    }
                },
                loadInfo: async function (sioKey) {
                    this.waiting = true;
                    try {
                        const res = await fetch(`/api/v2/links/info/${sioKey}`);
                        if (res.status === 500) {
                            const answer = await res.json();
                            this.error = `Информация по этому ID недоступна: \r\n${answer.msg}`;
                            this.nodes = [];
                        } else {
                            this.nodes = await res.json();
                            this.page_id = decodeURI(sioKey);
                        }
                        // console.log(this.items);
                    } catch (ex) {
                        this.error = ex.message;
                    }
                    this.waiting = false;
                },
                loadChildren: async function (element, item) {
                    // console.log(item);
                    if (item.source === 'ISE' || item.loaded) {
                        return;
                    }
                    let answer = [];
                    this.waiting = true;
                    const node = this.findSioNodeById(this.nodes, item.id);
                    try {
                        let res = await fetch(`/api/v1/links/node-children/${item.id}`);
                        answer = await res.json();
                        if (res.status === 500) {
                            element.parentElement.parentElement.classList.add('bad');
                            element.title = answer.msg;
                            throw new Error(answer.msg);
                        }
                        node.nodes = answer;
                        node.loaded = true;

                        res = await fetch(`/api/v1/links/check-children/${item.id}`);
                        answer = await res.json();
                        if (res.status === 500) {
                            throw new Error(answer.message);
                        }
                        for (const [key, val] of Object.entries(answer.audit)) {
                            const child = this.findSioNodeById(node.nodes, key);
                            if (child) {
                                if (child.audit === undefined) {
                                    child.audit = [];
                                }
                                child.audit.push(val);
                            }
                        }
                    } catch (ex) {
                        this.error = ex.message;
                        node.error = true;
                        node.audit.push({IDX: null, VAL: item.id, VAL2: ex.message});
                        console.error(ex.message + ' ' + ex.stack);
                    }
                    this.waiting = false;
                    return answer;
                },
                onShowIseInfo: async function (item) {
                    let answer = [];
                    this.waiting = true;
                    try {
                        const node = this.findSioNodeById(this.nodes, item.id);

                        let res = await fetch(`/api/v1/links/sio2ise/${item.id}`);
                        answer = await res.json();
                        node.ise_nodes = answer.ise_nodes;
                        node.ise_loaded = true;
                    } catch (ex) {
                        this.error = ex.message;
                    }
                    this.waiting = false;
                    return answer;
                },
                findTransacts: async function (element, value) {
                    let rows = [];
                    this.waiting = true;
                    try {
                        const key = value;
                        console.log('finding...' + key);

                        let res = await fetch(`/api/v1/links/log/${key}`);
                        rows = await res.json();
                        this.modal = rows;
                        this.showModal(true);

                        if (rows.length > 0) {
                            this.modal = rows;
                            this.showModal(true);
                            // const r = rows[0];
                            // window.open(`/onelog.html?id=${r.TRAN_ID}`, r.TRAN_ID,
                            //     "menubar=off,toolbar=off,location=off");
                        } else {
                            this.error = 'В логе не найдено';
                        }
                        console.log(rows);

                    } catch (ex) {
                        this.error = ex.message;
                    }
                    this.waiting = false;
                    return rows;
                },
                findSioNodeById: function (nodes, id) {
                    for (const node of nodes) {
                        if (node.id === id) {
                            return node;
                        }
                        const child = this.findSioNodeById(node.nodes, id);
                        if (child !== null) {
                            return child;
                        }
                    }
                    return null;
                }
            }
        });

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector('#btn-close-tran').addEventListener('click', function () {
                document.querySelector('#myModal').style.display = 'none';
            });
        });
    </script>

</body>

</html>