<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="css/loader-default.css">
    <link rel="stylesheet" href="css/links.css">
    <link rel="stylesheet" href="css/modal.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        body {
            background-color: #fff;
            padding: 12px;
            font-size: 9pt;
            font-family: Arial, 'Open Sans Condensed', 'Segoe UI', 'Helvetica Neue', sans-serif;
        }

        ul {
            list-style-type: none;
            margin-top: 10px;
        }

        h5 {
            margin-top: 24px;
        }

        span.name {
            font-family: 'Montserrat';
            font-size: 16pt;
        }

        span.name i.bi {
            color: #999;
            background-color: #fff;
            margin-right: 10px;
        }
    </style>
    <title>Поиск СИО узлов</title>
</head>

<body>
    <div id="app">

        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div style="font-size: 28px;">
                    <span>Транзакции в логе</span>
                    <span id="btn-close-tran" class="close">&times;</span>
                </div>
                <div class="scrolled">
                </div>
            </div>

        </div>

        <div id="loader" v-bind:class="(waiting)?'is-active':''" class="loader loader-default"></div>
        <div class="error-box" v-show="error" style="display: none;">{{error}}</div>

        <div>
            <ul>
                <li v-for="(ym_val, ym_name) in volumes"><span class="name"><i
                            class="bi bi-calendar-month"></i>{{ym_name}}</span>
                    <ul>
                        <li v-for="(obj_val, obj_name) in ym_val"><span class="name"><i
                                    class="bi bi-diagram-3-fill"></i>{{obj_name}}</span>
                            <ul>
                                <li v-for="(atp_val, atp_name) in obj_val"><span class="name"><i
                                            class="bi bi-plug"></i>{{atp_name}}</span>
                                    <h5>По точке поставки</h5>
                                    <table class="table table-striped table-hover"
                                        style="background-color: #fff; margin-top: 10px;">
                                        <thead>
                                            <tr>
                                                <th scope="col">Энергия</th>
                                                <th scope="col">Метод</th>
                                                <th scope="col">Вид</th>
                                                <th scope="col">Интервал</th>
                                                <th scope="col">Напряжение</th>
                                                <th scope="col">Объем</th>
                                                <th scope="col">Дата</th>
                                                <th scope="col">Файл</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(row, index) in atp_val.atp" class="prop nowrap">
                                                <td>{{row.ENRG}}</td>
                                                <td>{{row.MTHD}}</td>
                                                <td>{{row.KIND}}</td>
                                                <td>{{row.INTV}}</td>
                                                <td>{{row.VLTG}}</td>
                                                <td>{{row.ATTP_VOL}}</td>
                                                <td>{{row.DT}}</td>
                                                <td>{{row.FILENAME}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h5>По шкале</h5>
                                    <table class="table table-striped table-hover"
                                        style="background-color: #fff; margin-top: 10px;">
                                        <thead>
                                            <tr>
                                                <th scope="col">Счетчик</th>
                                                <th scope="col">Энергия</th>
                                                <th scope="col">Метод</th>
                                                <th scope="col">Вид</th>
                                                <th scope="col">Интервал</th>
                                                <th scope="col">Напряжение</th>
                                                <th scope="col">Доп</th>
                                                <th scope="col">Интерв</th>
                                                <th scope="col">Нулев</th>
                                                <th scope="col">Общ</th>
                                                <th scope="col">ПУ</th>
                                                <th scope="col">Сред</th>
                                                <th scope="col">Потр</th>
                                                <th scope="col">Расч</th>
                                                <th scope="col">Проч</th>
                                                <th scope="col">ID счетчика</th>
                                                <th scope="col">ID шкалы</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(row, index) in atp_val.ini" class="prop nowrap">
                                                <td>{{row.PU_NUM}}</td>
                                                <td>{{row.ENRG}}</td>
                                                <td>{{row.MTHD}}</td>
                                                <td>{{row.KIND}}</td>
                                                <td>{{row.INTV}}</td>
                                                <td>{{row.VLTG}}</td>
                                                <td>{{row.INI_VOL_DOP}}</td>
                                                <td>{{row.INI_VOL_INT}}</td>
                                                <td>{{row.INI_VOL_Z}}</td>
                                                <td>{{row.INI_VOL_OB}}</td>
                                                <td>{{row.INI_VOL_PU}}</td>
                                                <td>{{row.INI_VOL_DG}}</td>
                                                <td>{{row.INI_VOL_SR}}</td>
                                                <td>{{row.INI_VOL_POTERI}}</td>
                                                <td>{{row.INI_VOL_RAS}}</td>
                                                <td>{{row.INI_VOL_OTHER}}</td>
                                                <td>{{row.PU_IES}}</td>
                                                <td>{{row.INI_IES}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>



        </div>
    </div>

    <script>
        const EVENT_FIND = 'event-find';

        var app = new Vue({
            el: '#app',
            data: {
                waiting: false,
                error: null,
                attp_rows: [],
                volumes: {}
            },
            created() {
                console.log('Here!');
                try {
                    const pair = location.href.split('?')[1].split('&')[0].split('=');
                    const key_name = pair[0].toLowerCase();
                    const key_val = pair[1];
                    // document.title = this.id;
                    this.loadInfo(key_name, key_val);
                } catch (ex) {
                    this.error = ex.message;
                }
            },
            methods: {
                showModal: function (doShow) {
                    if (doShow) {
                        document.querySelector('#myModal').style.display = 'block';
                    } else {
                        document.querySelector('#myModal').style.display = 'none';
                    }
                },
                loadInfo: async function (name, val) {
                    this.error = null;
                    this.waiting = true;
                    try {
                        const resp = await fetch(`/api/v1/links/volumes/${name}/${val}`);
                        this.volumes = await resp.json();


                        // const res = await fetch(`/api/v1/links/16/${name}/${val}`);
                        // if (res.status === 500) {
                        //     const answer = await res.json();
                        //     this.error = answer.msg;
                        //     this.attp_rows = [];
                        // } else {
                        //     this.attp_rows = await res.json();
                        // }
                    } catch (ex) {
                        this.error = ex.message;
                    } finally {
                        this.waiting = false;
                    }
                },
            }
        });

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector('#btn-close-tran').addEventListener('click', function () {
                document.querySelector('#myModal').style.display = 'none';
            });
        });
    </script>

</body>

</html>